<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tweet Monitor | Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.15/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <section class="section is-medium">
            <div class="container">
                <h1 class="is-text-centered is-fullwidth title is-1">Login</h1>
                <hr>
                <div>
                    <form action="" method="post">
                        <p class="control has-icon">
                          <input name="username" class="input" type="text" placeholder="Username">
                          <i class="fa fa-envelope"></i>
                        </p>
                        <p class="control has-icon">
                          <input name="password" class="input" type="password" placeholder="Password">
                          <i class="fa fa-lock"></i>
                        </p>
                        <p class="control" style="text-align: center;">
                          <button class="button is-success">
                            Login
                          </button>
                        </p>
                    </form>

                </div>
            </div>
        </section>
    </body>
</html>
